body {
    background-color: #e8ffff;
    color: black;
    font-family: Georgia, serif;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #008b8b;
    padding-bottom: 10px;
}

section {
    margin-top: 30px;
    padding-left: 15px;
    border-left: 5px solid cyan;
}

.button {
    background-color: #00a8a8;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #007575;
}
.activite {
    width: 300px;
    margin: 20px auto;
    background-color: #FFA42E;
    border-radius: 15px;
    overflow: hidden;
}

.activite summary {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.activite summary::-webkit-details-marker {
    display: none;
}

.activite summary:hover {
    background-color: #FF9000;
}

.description {
    padding: 15px;
    background: white;
    font-weight: normal;
}
